@layer utilities {
    .content-auto {
        content-visibility: auto;
    }
}

.poster {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.title {
    font-size: 1em;
}

.movie-type {
    display: inline-block;
    position: absolute;
    color: #fff;
    background: #01a0b0;
    display: inline-block;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.9;
}

.series-type {
    position: absolute;
    color: #fff;
    background: #df565a;
    display: inline-block;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.9;
}

.loader {
    display: flex;
    justify-content: center;
    padding: 250px;
}